@import '~mapbox-gl/dist/mapbox-gl.css';

.map {
  height: 100vh;
  width: 100vw;
}

.marker {
  background-image: url('./../assets/new.png');
  background-size: cover;
width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}


.alink {
  color: white;
}

.img {
  width: 900px;
}



// Home
.navytitle {
  color: #101929;
  padding-left: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}
// #about

.construction {
  background-color:  #E07854;
}

.cafe {
  background-color: #526C5A;
}

.lightblue {
  background-color: #9BC0D6;

}

.learn {
  background-color: #F5A99C;

}

.background {
  background-color: #EFE7DC;
}

.about{
  color: #101929;
  background-color: #EFE7DC;

}
.aboutbody {
  padding-left: 60px;
  padding-right: 60px;
  color: #101929;
}

.tileimg {
  display: flex;
  justify-content: center;
  width: 75%;
}

// navbar
.cream {
background-color: #EFE7DC;
}

.navbar {
  a.navbar-item {
    color: #101929;
    &:hover {
      background-color: #9BC0D6;
      border-radius: 3px;
    }
  }
}

// Projects

.projectsbody {
  padding-left: 60px;
  padding-right: 60px;
  color: #101929;

}

// me

.mepage {
background-color: #EFE7DC;
padding-top: 230px;
padding-bottom: 230px;
padding-right: 60px;
padding-left: 60px;


}

.mecontainer {
  display: inline-block;
  background-color: #9BC0D6;
  padding-right: 30px;

}

.metext {
  display: block;
  align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 60px;
}
.titlemetext {
  color: #101929;
}

.subtitlemetext {
  color: #101929;
}

.myimg {
  float: left;
  width: 400px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;

}
.contact {
  display: inline-block;
  color:#101929

}

#email {
  width: 60px;
  padding-right: 10px;
}
#github-icon {
    background-image: url('../assets/github-logo.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 10px 15px;

}

#github-icon2 {
  background-image: url('../assets/github-52.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 10px 15px;

}

#liknedin-icon {
  background-image: url('../assets/linkedin-50.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 10px 15px;

}


@media only screen and (max-width: 700px) {

  .margins {
    display: inline-block;

  }


  .navbar {
    a.navbar-item {
      color: #101929;
      &:hover {
        background-color: #9BC0D6;
        border-radius: 3px;
      }
    }
  }

}
