@import '~mapbox-gl/dist/mapbox-gl.css';

.map {
  height: 100vh;
  width: 100vw;
}


.alink {
  color: white;
}

.img {
  width: 900px;
}

.profile {
  width: 200px;
  border-radius: 150px;
}

.box {
  display: inline-block;

  width: 80%;
  padding: 1%;


}

.tileimg {
  width: 300px;
}

// #about

.construction {
  background-color:  #E07854;

}

.cafe {
  background-color: #526C5A;
}

.lightblue {
  background-color: #9BC0D6;

}

.learn {
  background-color: #F5A99C;

}

.background {
  background-color: #EFE7DC;
}


.aboutbody {
  color: #101929;
  padding-top: 30px;
  background-color: #EFE7DC;

}
// navbar
.cream {
background-color: #EFE7DC;
}

// Projects

.margins {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;

}

// home
.home {
  display: flex;
  background-color: #9BC0D6;
  margin: 200px 0;
  padding: 50px;
}


.myimg {
  display: block;
  float: left;
  width: 300px;

}



@media only screen and (max-width: 700px) {

  .margins {
    display: inline-block;

  }



}
