@import '~mapbox-gl/dist/mapbox-gl.css';

.map {
  height: 100vh;
  width: 100vw;
}


.alink {
  color: white;
}

.img {
  width: 900px;
}

.profile {
  width: 200px;
  border-radius: 150px;
}

.box {
  display: inline-block;

  width: 80%;
  padding: 1%;


}

.tileimg {
  width: 300px;
}

#about

.cafe {
  background-color: #526C5A;
}

.lightblue {
  background-color: #9BC0D6;

}

.learn {
  background-color: #F5A99C;

}



.cafe {
  background-color: #526C5A;
}

.construction {
  background-color:  #E07854;

}


.background {
  background-color: #EFE7DC;
}

.aboutbody {
  color: #101929;
  padding-top: 30px;
  background-color: #EFE7DC;
}
